<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="UserContext" connectionString="metadata=res://*/Subscriber.csdl|res://*/Subscriber.ssdl|res://*/Subscriber.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LoginApiTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
